<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <script src="dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="dist/sweetalert.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/search.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">zimvites</a>
      </div>
      <ul class="nav navbar-nav">
        <!-- <li><a href="/">Home</a></li> -->

        <li><a href="/record">Records</a></li>
        <li><a href="/questionnare">Questions</a></li>
        <li><a href="/employees">Employees</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}
          <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> {{currentUser.name}} logout</a></li>
          {{else}}
          <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> SignIn</a></li>
          {{/if}}
      </ul>

    </div>
  </nav>

  {{{body}}}

</body>

</html>
