<h2>Editd Record</h2>
<form action="/answers/update/{{data.answers_id}}" method="POST">
{{# questions}}
<div>{{question}} :<select name="answer">
<option value="Nes">Yes</option>
<option value="No">No</option>
<option value="Null">NULL</option>
</select></div>
{{/questions}}
</form>
