<h2>Edit Record</h2>
<form action="/answers/update/{{data.answers_id}}" method="POST">
<div>{{data.question}} :<select name="answer">
<option value="Yes">Yes</option>
<option value="No">No</option>
<option value="Null">NULL</option>
</select></div><br>
<input type="submit">
</div>
</form>
