<h2>Records</h2>
<form action="/answers/update/{{data.answers_id}}" method="POST">
{{# questions}}
<div>{{question}} :<input type="text" name="answer" value="{{answer}}"></div>
{{/questions}}
</form>
