<div style="border-box:solid;">
  <h1 style="background: #668cff; color: white; width: 300px; padding: 15px;">Questionnare</h1>
  <!-- {{#employees}} -->
  <p style="font-size: 20px;font-family: ariel;">Hi {{name}}</p>
  <!-- {{/employees}} -->
  <p style="font-size:20px;">Would you like to attend this course</p>
  <button style="width: 300px;
  padding: 20px;
  cursor: pointer;
  box-shadow: 6px 6px 5px;
  -moz-box-shadow: 6px 6px 5px #999;
  font-weight: bold;
  background: #668cff;
  color: #668cff;
  border-radius: 10px;
  border: 1px solid #999;
  font-size: 150%;
  text-decoration: none;"><a style = "text-decoration: none; color: white;" href="http://localhost:5000/login">Click Here to answer</a></button>

</div>
