<div style="border: 1px solid #999; width: 330px; height: 350px; border-radius: 10px; padding-top: 0px">
  <h1 style="background: #2196F3; color: white; width: 300px; padding: 15px;">Questionnare</h1>
  <p style="font-size: 20px;font-family: ariel;">Hi employee</p>
  <p style="font-size:20px; height: 100px">Would you like to attend this course</p>
  <button style="width: 300px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 6px 6px 5px;
  -moz-box-shadow: 6px 6px 5px #999;
  font-weight: bold;
  background: #2196F3;
  color: #2196F3;
  border-radius: 10px;
  font-size: 150%;
  text-decoration: none;"><a style = "text-decoration: none; color: white;" href="http://localhost:5000/login">Click Here to answer</a></button>

</div>
