<div class="jumbotron">
    <h1>Employees</h1>
  </div>

<table class="table table-hover table-bordered results">

  <thead>
    <tr>
      <th class="col-md-1 col-xs-1">Name</th>
      <th class="col-md-3 col-xs-3">Email</th>
    </tr>
  </thead>
  <tbody>
      {{#employees}}
    <tr>
      <td>{{name}}</td>
      <td>{{email}}</td>
    </tr>
      {{/employees}}
  </tbody>
</table>
