<div class="jumbotron">
    <h1>Login</h1>
  </div>


<div class="login">

  <form class="" action="/login" method="post">
    <input type="text" name="username" value="{{username}}" placeholder="username">
    <input type="password" name= "password" value="{{password}}"placeholder="password" >
   <input type="submit"><br>

</div>

  </form>
