<div class="jumbotron">
    <h1>Questionnare</h1>
  </div>
  <form class="" action="/questionnare/createQuestions" method="post">
    <div class="questions">
    Insert course: <input type="text" name="question"><br>
   <input type="submit"><br>
     </div>
  </form>
